# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

app/venv/*
.vscode
venv
.env
../.idea/
.idea/
*.pyc
__pycache__/
.gitlab/
alembic.ini

# MacOS
./.DS_Store
.DS_store